* {
    font-family: Arial, Helvetica Neue,Helvetica,sans-serif;
	font-size: 1.5em;
}

p {
	text-align: center;
}

.small {
	font-size: 1em;
	font-size: italic;
}

.alive {
	background-color: black;
	color: white;
}

.dead {
	background-color: white;
	color: black;
}
