* {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 1.5em;
}

p {
	text-align: center;
}

.alive {
	background-color: black;
	color: white;
}

.dead {
	background-color: white;
	color: black;
}
