* {
    font-family: Arial, Helvetica Neue,Helvetica,sans-serif;
}

p {
	text-align: center;
}

.button {
    text-align: center;
}

.main {
    font-size: 3em;
    width: 100%;
    top: 100px;
}

.alive {
	background-color: #666666;
	color: #F4F0EC;
}

.dead {
	background-color: #F4F0EC;
	color: #666666;
}

.small {
	font-size: 1em;
	font-style: italic;
}

a {
    text-decoration: none;
    color: #FF007F;
}

a:hover {
	color: #ff5900;
};